<?xml version="1.0" encoding="utf-8" ?>
<Settings>
	<SimilarityThreshold>80</SimilarityThreshold>
	<SupportedExtensions>
		<Extension>2hd</Extension>
		<Extension>3ds</Extension>
		<Extension>7z</Extension>
		<Extension>88d</Extension>
		<Extension>a78</Extension>
		<Extension>arc</Extension>
		<Extension>bat</Extension>
		<Extension>bin</Extension>
		<Extension>bs</Extension>
		<Extension>cas</Extension>
		<Extension>ccd</Extension>
		<Extension>cdi</Extension>
		<Extension>cdt</Extension>
		<Extension>chd</Extension>
		<Extension>cht</Extension>
		<Extension>ciso</Extension>
		<Extension>cmd</Extension>
		<Extension>col</Extension>
		<Extension>cpr</Extension>
		<Extension>cso</Extension>
		<Extension>cue</Extension>
		<Extension>cv</Extension>
		<Extension>d64</Extension>
		<Extension>d71</Extension>
		<Extension>d81</Extension>
		<Extension>d88</Extension>
		<Extension>dim</Extension>
		<Extension>dol</Extension>
		<Extension>dsk</Extension>
		<Extension>dup</Extension>
		<Extension>elf</Extension>
		<Extension>exe</Extension>
		<Extension>fdi</Extension>
		<Extension>fds</Extension>
		<Extension>fig</Extension>
		<Extension>g64</Extension>
		<Extension>gb</Extension>
		<Extension>gcm</Extension>
		<Extension>gcz</Extension>
		<Extension>gdi</Extension>
		<Extension>gg</Extension>
		<Extension>gz</Extension>
		<Extension>hdf</Extension>
		<Extension>hdm</Extension>
		<Extension>img</Extension>
		<Extension>int</Extension>
		<Extension>ipf</Extension>
		<Extension>iso</Extension>
		<Extension>lnk</Extension>
		<Extension>lnx</Extension>
		<Extension>m3u</Extension>
		<Extension>mdf</Extension>
		<Extension>mds</Extension>
		<Extension>ms1</Extension>
		<Extension>msa</Extension>
		<Extension>mx1</Extension>
		<Extension>mx2</Extension>
		<Extension>n64</Extension>
		<Extension>nbz</Extension>
		<Extension>nca</Extension>
		<Extension>ndd</Extension>
		<Extension>nds</Extension>
		<Extension>nes</Extension>
		<Extension>nib</Extension>
		<Extension>nrg</Extension>
		<Extension>nro</Extension>
		<Extension>nso</Extension>
		<Extension>nsp</Extension>
		<Extension>o</Extension>
		<Extension>pbp</Extension>
		<Extension>pce</Extension>
		<Extension>prg</Extension>
		<Extension>prx</Extension>
		<Extension>rar</Extension>
		<Extension>ri</Extension>
		<Extension>rom</Extension>
		<Extension>rvz</Extension>
		<Extension>sc</Extension>
		<Extension>scl</Extension>
		<Extension>sda</Extension>
		<Extension>sf</Extension>
		<Extension>sfc</Extension>
		<Extension>sfx</Extension>
		<Extension>sg</Extension>
		<Extension>smc</Extension>
		<Extension>sms</Extension>
		<Extension>sna</Extension>
		<Extension>st</Extension>
		<Extension>stx</Extension>
		<Extension>swc</Extension>
		<Extension>t64</Extension>
		<Extension>tap</Extension>
		<Extension>tgc</Extension>
		<Extension>toc</Extension>
		<Extension>trd</Extension>
		<Extension>tzx</Extension>
		<Extension>u1</Extension>
		<Extension>unf</Extension>
		<Extension>unif</Extension>
		<Extension>v64</Extension>
		<Extension>voc</Extension>
		<Extension>wad</Extension>
		<Extension>wbfs</Extension>
		<Extension>wua</Extension>
		<Extension>xci</Extension>
		<Extension>xdf</Extension>
		<Extension>z64</Extension>
		<Extension>z80</Extension>
		<Extension>zip</Extension>
		<Extension>zso</Extension>
	</SupportedExtensions>
	<ImageSize>
		<Width>300</Width>
		<Height>300</Height>
	</ImageSize>
	<SimilarityAlgorithm>Jaro-Winkler Distance</SimilarityAlgorithm>
	<BaseTheme>Light</BaseTheme>
	<AccentColor>Blue</AccentColor>
</Settings>