<?xml version="1.0" encoding="utf-8" ?>
<Settings>
	<SimilarityThreshold>70</SimilarityThreshold>
	<SupportedExtensions>
		<Extension>zip</Extension>
		<Extension>7z</Extension>
		<Extension>cdi</Extension>
		<Extension>chd</Extension>
		<Extension>iso</Extension>
		<Extension>3ds</Extension>
		<Extension>rvz</Extension>
		<Extension>nsp</Extension>
		<Extension>xci</Extension>
		<Extension>wua</Extension>
		<Extension>wad</Extension>
		<Extension>cso</Extension>
		<Extension>bat</Extension>
		<Extension>nds</Extension>
	</SupportedExtensions>
	<ImageSize>
		<Width>300</Width>
		<Height>300</Height>
	</ImageSize>
	<SimilarityAlgorithm>Jaro-Winkler Distance</SimilarityAlgorithm>
	<BaseTheme>Light</BaseTheme>
	<AccentColor>Blue</AccentColor>
</Settings>