<?xml version="1.0" encoding="utf-8"?>
<Settings>
  <ThumbnailSize>200</ThumbnailSize>
  <GamesPerPage>200</GamesPerPage>
  <HideGamesWithNoCover>false</HideGamesWithNoCover>
  <EnableGamePadNavigation>false</EnableGamePadNavigation>
  <VideoUrl>https://www.youtube.com/results?search_query=</VideoUrl>
  <InfoUrl>https://www.igdb.com/search?type=1&amp;q=</InfoUrl>
</Settings>