<?xml version="1.0" encoding="utf-8"?>
<Settings>
  <ThumbnailSize>250</ThumbnailSize>
  <GamesPerPage>200</GamesPerPage>
  <ViewMode>GridView</ViewMode>
  <ShowGames>ShowAll</ShowGames>
  <ActivateGamepad>false</ActivateGamepad>
  <VideoUrl>https://www.youtube.com/results?search_query=</VideoUrl>
  <InfoUrl>https://www.igdb.com/search?q=</InfoUrl>
  <MainWindowWidth>1500</MainWindowWidth>
  <MainWindowHeight>800</MainWindowHeight>
  <MainWindowTop>100</MainWindowTop>
  <MainWindowLeft>100</MainWindowLeft>
  <MainWindowState>Normal</MainWindowState>
  <BaseTheme>Light</BaseTheme>
  <AccentColor>Blue</AccentColor>
  <Language>en</Language>
  <SystemPlayTimes>
    <SystemPlayTime>
      <SystemName/>
      <PlayTime/>
    </SystemPlayTime>
  </SystemPlayTimes>
</Settings>